################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Grafika/v15
/Grafika/x64/Debug
/Grafika/Debug
/Debug
/x64/Debug
/Grafika/Release
/Release
