################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Grafika/v15
/Grafika/x64/Debug
/Grafika/Debug
/Debug
/x64/Debug
/Grafika/Release
/Release
/Grafika/x64/Release
/x64/Release
/Grafika/x64/CUDA
/x64/CUDA
/Grafika/x64/CUDADebbug
/x64/CUDADebbug
